@charset 'utf-8';
#home {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  font-size: 14px;
  color: #232628;
  font-family: "Microsoft Yahei", "微软雅黑", verdana;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
#home .top-nav {
  background-color: #F3F5F7;
  width: 100%;
  height: 40px;
}
#home .top-nav .nav-box {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}
#home .top-nav .nav-box li {
  padding: 0 16px;
  float: left;
  line-height: 40px;
  position: relative;
}
#home .top-nav .nav-box li a {
  color: #71797F;
  font-size: 12px;
}
#home .top-nav .nav-box li span {
  color: #71797F;
  font-size: 12px;
}
#home .top-nav .nav-box .nav-left {
  list-style: none;
  float: left;
}
#home .top-nav .nav-box .nav-left li a .icon {
  width: 14px;
  height: 14px;
  margin-top: 12px;
  margin-right: 4px;
  display: inline-block;
  background-image: url(//img02.hua.com/pc/pimg/home/common_sprite.png);
  background-repeat: no-repeat;
  vertical-align: top;
  background-position: 0 -21px;
}
#home .top-nav .nav-box .nav-left li a .next {
  background-position: -24px -21px;
}
#home .top-nav .nav-box .nav-left li a .last {
  background-position: -48px -21px;
}
#home .top-nav .nav-box .nav-left li img {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  min-width: 160px;
  padding: 12px;
  font-size: 12px;
  line-height: 18px;
  color: #232628;
  background: #fff;
  border: 1px solid #E9ECF0;
  border-top-color: transparent;
  text-align: center;
  z-index: 1000;
}
#home .top-nav .nav-box .nav-left li:hover img {
  display: block;
}
#home .top-nav .nav-box .nav-left li:hover:not(:first-child) {
  background: white;
}
#home .top-nav .nav-box .nav-left li:hover a {
  color: #FF734C;
}
#home .top-nav .nav-box .nav-left :first-child {
  padding-left: 0;
}
#home .top-nav .nav-box .nav-right {
  list-style: none;
  float: right;
}
#home .top-nav .nav-box .nav-right .icon-box {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 5px;
  background-image: url(http://img02.hua.com/pc/pimg/home/top_nav_arrow.png);
  background-position: top center;
  background-size: 8px 8px;
  transition: transform 0.2s;
}
#home .top-nav .nav-box .nav-right .img {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  font-size: 12px;
  line-height: 18px;
  color: #232628;
  background: #fff;
  border: 1px solid #E9ECF0;
  border-top-color: transparent;
  text-align: center;
  z-index: 1000;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 6px 0;
}
#home .top-nav .nav-box .nav-right .img p {
  display: block;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #71797F;
  cursor: pointer;
}
#home .top-nav .nav-box .nav-right .img p:hover {
  color: #FF734C;
}
#home .top-nav .nav-box .nav-right li:first-child {
  padding: 0;
}
#home .top-nav .nav-box .nav-right li:hover a {
  color: #FF734C;
}
#home .top-nav .nav-box .nav-right li:hover .img {
  display: block;
}
#home .top-nav .nav-box .nav-right li:hover .icon-box {
  transform: rotate(180deg);
}
#home #header {
  height: 120px;
}
#home #header .header-contener {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  position: relative;
}
#home #header .header-contener .logo {
  float: left;
  width: 238px;
  height: 100%;
}
#home #header .header-contener .logo {
  width: 238px;
  height: 60px;
  margin-top: 30px;
  background-image: url(http://img02.hua.com/pc/pimg/home/common_sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -248px;
}
#home #header .header-contener .search-box {
  width: 440px;
  margin: 0 auto;
  padding-top: 25px;
  font-size: 0;
}
#home #header .header-contener .search-box form {
  display: block;
  margin-top: 0;
}
#home #header .header-contener .search-box form div {
  position: relative;
  width: 440px;
  height: 48px;
  border-radius: 24px;
  border: 2px solid #FF734C;
  overflow: hidden;
}
#home #header .header-contener .search-box form div .search-box-icon {
  display: inline-block;
  width: 54px;
  height: 100%;
  vertical-align: top;
  text-align: center;
  border-style: none;
}
#home #header .header-contener .search-box form div .search-box-icon span {
  width: 16px;
  height: 16px;
  margin-top: 16px;
  display: inline-block;
  background-image: url(http://img02.hua.com/pc/pimg/home/common_sprite.png);
  background-repeat: no-repeat;
  vertical-align: top;
  background-position: 0 -48px;
}
#home #header .header-contener .search-box form div input {
  width: 264px;
  height: 100%;
  font-size: 14px;
  border: none;
  background-color: inherit;
}
#home #header .header-contener .search-box form div .btn-box {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 118px;
  height: 48px;
}
#home #header .header-contener .search-box form div .btn-box .btn {
  width: 100%;
  height: 100%;
  border-radius: 24px 0 0 24px;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  background-color: #FF734C;
  color: white;
  border-style: none;
}
#home #header .header-contener .search-box-hotwords {
  margin-top: 8px;
  margin-left: 44px;
  font-size: 12px;
  line-height: 16px;
  color: #B4BABF;
}
#home #header .header-contener .search-box-hotwords a {
  margin: 0 12px;
  color: #71797F;
}
#home #header .header-contener .help {
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  padding-top: 25px;
  line-height: 18px;
  text-align: right;
}
#home #header .header-contener .help .help-item {
  display: inline-block;
  font-size: 14px;
  color: #71797F;
  vertical-align: top;
}
#home #header .header-contener .help .help-item .icon {
  width: 24px;
  height: 24px;
  margin-top: 12px;
  margin-right: 8px;
  display: inline-block;
  background-image: url(http://img02.hua.com/pc/pimg/home/common_sprite.png);
  background-repeat: no-repeat;
  vertical-align: top;
}
#home #header .header-contener .help .help-item .icon-phone {
  background-position: 0 -102px;
}
#home #header .header-contener .help .help-item .icon-ready {
  background-position: -34px -102px;
}
#home #header .header-contener .help .help-item p {
  display: inline-block;
  margin-top: 15px;
  vertical-align: top;
  text-align: left;
}
#home #header .header-contener .help .help-item + .help-item {
  margin-left: 40px;
}
#home .container {
  width: 990px;
  max-width: none !important;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}
#home .container .shop {
  margin-bottom: 20px;
  border: 1px solid #d9d9d9;
}
#home .container .shop .order-list li {
  line-height: 20px;
  display: inline-block;
  float: left;
}
#home .container .shop .hd {
  margin: 0;
  height: 80px;
  width: 100%;
  padding: 0 20px;
  list-style: none;
  background-color: #ebebeb;
}
#home .container .shop .hd ul li {
  height: 80px;
  width: 172.72727273px;
  margin-left: 8px;
  color: gray;
  margin-top: 10px;
  line-height: 20px;
  display: inline-block;
}
#home .container .shop .hd ul .one {
  float: right;
  margin-top: 45px;
  width: 50px;
}
#home .container .shop .hd ul .two {
  margin-right: 150px;
}
#home .container .shop .shop-box {
  margin: 0;
  padding: 0 20px;
  height: 196px;
}
#home .container .shop .shop-box .order-list {
  margin: 0;
  padding: 15px 0;
  list-style: none;
  font-size: 14px;
}
#home .container .shop .shop-box .order-list li {
  line-height: 20px;
  display: inline-block;
}
#home .container .shop .shop-box .order-list .selecter {
  width: 36px;
  height: 88px;
  text-align: left;
  cursor: pointer;
}
#home .container .shop .shop-box .order-list .selecter .icon-select {
  width: 20px;
  height: 20px;
  margin-top: 34px;
  display: inline-block;
}
#home .container .shop .shop-box .order-list .img-box {
  width: 100px;
}
#home .container .shop .shop-box .order-list .img-box a {
  color: #737373;
  text-decoration: none;
  background-color: transparent;
}
#home .container .shop .shop-box .order-list .img-box img {
  width: 80px;
  height: 88px;
}
#home .container .shop .shop-box .order-list .product {
  width: 332px;
  padding: 24px 0;
}
#home .container .shop .shop-box .order-list .product a {
  color: #737373;
  text-decoration: none;
  background-color: transparent;
}
#home .container .shop .shop-box .order-list .product a span {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#home .container .shop .shop-box .order-list .product a .feature {
  color: #ff6a00;
}
#home .container .shop .shop-box .order-list .market-price {
  width: 120px;
  padding: 0;
  line-height: 88px;
  text-decoration: line-through;
  color: #999999;
  text-align: center;
}
#home .container .shop .shop-box .order-list .market-price .price-sign {
  font-family: arial;
  margin-right: -4px;
}
#home .container .shop .shop-box .order-list .market-price .price-num {
  font-family: arial,Verdana,Arial;
}
#home .container .shop .shop-box .order-list .order-price {
  width: 120px;
  padding: 0;
  line-height: 88px;
  color: #232628;
  font-weight: normal;
}
#home .container .shop .shop-box .order-list .order-price .price-sign {
  font-family: arial;
  margin-right: -4px;
}
#home .container .shop .shop-box .order-list .order-price .price-num {
  font-family: arial,Verdana,Arial;
}
#home .container .shop .shop-box .order-list .num {
  width: 120px;
  margin: 32px 0;
  text-align: center;
}
#home .container .shop .shop-box .order-list .num .input-num {
  width: 80px;
  margin: 0 auto;
}
#home .container .shop .shop-box .order-list .num .input-num input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#home .container .shop .shop-box .order-list .num .input-num .form-control {
  display: inline-block;
  width: 40px;
  height: 24px;
  border-color: #d9d9d9;
  padding: 6px;
  border-radius: 0;
  box-shadow: none;
  color: #4d4d4d;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #d2d2d2;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}
#home .container .shop .shop-box .order-list .num .input-num .input-sm {
  font-size: 12px;
  line-height: 1.5;
}
#home .container .shop .shop-box .order-list .num .input-num .ico {
  display: inline-block;
  vertical-align: middle;
}
#home .container .shop .shop-box .order-list .num .input-num .ico-minus {
  background-image: url(http://img02.hua.com/pc/assets/img/common_z.png);
  background-position: -274px -234px;
  background-repeat: no-repeat;
  width: 9px;
  height: 9px;
}
#home .container .shop .shop-box .order-list .num .input-num .ico-add {
  background-image: url(http://img02.hua.com/pc/assets/img/common_z.png);
  background-position: -396px -239px;
  background-repeat: no-repeat;
  width: 9px;
  height: 9px;
}
#home .container .shop .shop-box .order-list .num .input-num .btn-default {
  color: #4d4d4d;
  background-color: #ffffff;
  border-color: #d9d9d9;
}
#home .container .shop .shop-box .order-list .num .input-num .btn {
  width: 11px;
  height: 11px;
  margin: -2px 0 0;
  padding: 0;
  border-radius: 0;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  touch-action: manipulation;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  color: #4d4d4d;
  background-color: #ffffff;
  border-color: #d9d9d9;
}
#home .container .shop .shop-box .order-list .num .input-num .btn i {
  margin-top: -13px;
}
#home .container .shop .shop-box .order-list .num .input-num .btn.no {
  cursor: pointer;
}
#home .container .shop .shop-box .order-list .operate {
  width: 120px;
  font-size: 12px;
  padding: 24px 0 24px 42px;
  margin-top: 65px;
  float: right;
}
#home .container .shop .shop-box .order-list .operate a {
  color: #737373;
}
#home .container .shop .shop-box .order-list:first-child {
  border-top: none;
}
#home .set-bar {
  width: 990px;
  max-width: none !important;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  height: 52px;
}
#home .set-bar .result {
  float: left;
}
#home .set-bar .result .bar-box {
  font-size: 12px;
  line-height: 52px;
  float: left;
  width: 870px;
  height: 52px;
  padding-left: 20px;
  border: 1px solid #d9d9d9;
  border-right: 0;
}
#home .set-bar .result .bar-box a {
  width: 90px;
  float: left;
  color: #737373;
  text-decoration: none;
}
#home .set-bar .result .bar-box a .ico {
  margin-top: -6px;
  margin-right: 5px;
  background-image: url(http://img02.hua.com/pc/assets/img/common_z.png);
}
#home .set-bar .result .bar-box a .ico-back {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: -68px -318px;
}
#home .set-bar .result .bar-box p {
  font-size: 15px;
  text-align: right;
}
#home .set-bar .result .bar-box p span {
  color: red;
  font-size: 20px;
}
#home .set-bar .btn {
  font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
  font-weight: bold;
  float: right;
  width: 120px;
  height: 52px;
  padding: 10px 16px;
  margin-left: 5px;
  font-size: 18px;
  line-height: 1.3333333;
  color: #ffffff;
  background-color: #ff6a00;
  border-color: #ff6a00;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
}
#home .set-bar .btn:last-child {
  margin: 0;
  margin-top: 1px;
}
#home .all-bar {
  width: 920px;
  max-width: none !important;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  height: 52px;
}
#home .all-bar .result {
  float: left;
}
#home .all-bar .result .bar-box {
  font-size: 12px;
  line-height: 52px;
  float: left;
  width: 870px;
  height: 52px;
  padding-left: 20px;
  border: 1px solid #d9d9d9;
  border-right: 0;
}
#home .all-bar .result .bar-box a {
  width: 90px;
  float: left;
  color: #737373;
  text-decoration: none;
}
#home .all-bar .result .bar-box a .ico {
  margin-top: -6px;
  margin-right: 5px;
  background-image: url(http://img02.hua.com/pc/assets/img/common_z.png);
}
#home .all-bar .result .bar-box a .ico-back {
  display: inline-block;
  vertical-align: middle;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: -68px -318px;
}
#home .all-bar .result .bar-box p {
  font-size: 15px;
  text-align: right;
}
#home .all-bar .result .bar-box p span {
  color: red;
  font-size: 20px;
}
#home .all-bar .btn {
  font-family: tahoma, arial, 'Hiragino Sans GB', '\5FAE\8F6F\96C5\9ED1', sans-serif;
  font-weight: bold;
  float: right;
  width: 120px;
  height: 52px;
  padding: 10px 16px;
  margin-left: 5px;
  font-size: 18px;
  line-height: 1.3333333;
  color: #ffffff;
  background-color: #ff6a00;
  border-color: #ff6a00;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
}
#home .all-bar .btn:last-child {
  margin: 0;
  margin-top: 1px;
}
